---
layout: markdown_page
title: How GitLab is Enterprise Class
description: "This paper looks at some details about GitLab, focusing on how it operates in an enterprise environment. Learn more here!"
canonical_path: "/solutions/enterprise-class/"
---

= partial('includes/enterprise-class/gitlab-enterprise-class.md')

%hr
  This page can be downloaded as
  %a{href: 'enterprise-considerations.pdf'}
    PDF.
